extends ../shared/template

block content
  h1 Card Hand

  button.button.button-border#deal Deal

  #card1
  #card2
  #card3
  #card4
  #card5

block scripts
  script(src='/js/es6/compiled/cards.js')
